<!DOCTYPE html>
<html lang="en" ng-app="ScoreSearch">
<head>
	<% include ../partials/head %>
</head>

<body class="container">
	<header>
		<% include ../partials/header %>
	</header>
	<div>
		<form class="form-horizontal">
			<input type="text">
			<button class="btn">Search</button>
		</form>
		<ul class="list-group"
			<li class="list-group-item">
		</ul>
	</div>
	<footer>
		<% include ../partials/footer %>
	</footer>
	<script src="../public/js/app.js"></script>
</body>
</html>