<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
	<style homepage-style>
	
	</style>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">
			<h1>sOme tuNes</h1>
			<p>bEatS</p>
			<h2>mOviEs we'Re WatchINg..</h2>
			<p>so far.. just gamer</p>
			<h3><%= tagline %></h3>
			<ul>
				<% drinks.forEach(function(drink) { %>
					<li><%= drink.name %> - <%= drink.drunkness %></li>
				<% }); %>
			</ul>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
</body>
</html>